@using System.Security.Claims
@model IEnumerable<Claim>

@{
    ViewBag.Title = "User profile";
}

<h2>User profile</h2>

<div class="content">
    <table>
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Issuer</th>
        </tr>
        
        @foreach (Claim claim in Model)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
                <td>@claim.Issuer</td>
            </tr>
        }
    </table>
</div>